.menu-page {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  width: 200px;
  background-color: white;
  text-align: center;
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.menu-item p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
